---
submitter: "c2a"
title: "Anonymised Penetration Test Report"
date: "2023-05-28"
added: "2024-11-03"
description: ""
vulnerabilities: [
    "Internal pentest", "RCE", "ADCS", "Active Directory", "Kerberos", "DHCPv6", "LLMNR"
]
programs: [
    "undisclosed"
]
authors: [
    "Volkis (@VolkisAU)"
]
bounty: "undisclosed"
link: "https://handbook.volkis.com.au/assets/doc/Volkis%20-%20Anonymous%20Client%20-%20Penetration%20Test%20May%202023.pdf"
---



