---
submitter: "c2a"
title: "Bypass Mobile PIN Verification"
date: "2020-01-01"
added: "2024-11-03"
description: ""
vulnerabilities: [
    "Authentication bypass"
]
programs: [
    "undisclosed"
]
authors: [
    "Sourav Sahana (@kernel_rider)"
]
bounty: "100"
link: "https://medium.com/sourav-sahana/bypass-mobile-pin-verification-d2c571afa3aa"
---



