---
submitter: "c2a"
title: "How to Bypass Golang SSL Verification"
date: "2024-07-15"
added: "2024-11-03"
description: ""
vulnerabilities: [
    "SSL verification bypass", "Security code review"
]
programs: [
    "undisclosed"
]
authors: [
    "Michael Pasternak"
]
bounty: "undisclosed"
link: "https://www.cyberark.com/resources/threat-research-blog/how-to-bypass-golang-ssl-verification"
---



