---
submitter: "c2a"
title: "How I was Able To Bypass Email Verification"
date: "2018-12-08"
added: "2024-11-03"
description: ""
vulnerabilities: [
    "Information disclosure"
]
programs: [
    "undisclosed"
]
authors: [
    "Muzammil Kayani (@muzammilabbas2)"
]
bounty: "200"
link: "https://blog.securitybreached.org/2018/12/08/how-i-was-able-to-bypass-email-verification/"
---



