---
submitter: "c2a"
title: "Misconfiguration lead to company identity theft via bypass email verification."
date: "2024-02-02"
added: "2024-11-03"
description: ""
vulnerabilities: [
    "Email verification bypass", "HTML injection"
]
programs: [
    "undisclosed"
]
authors: [
    "Abdelkader Mouaz (@hamzadzworm)"
]
bounty: "undisclosed"
link: "https://hamzadzworm.medium.com/misconfiguration-lead-to-company-identity-theft-via-bypass-email-verification-0dd60b61d943"
---



